<div class="blue_bg">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h2>About</h2>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- about section -->
<div class="about">
    <div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="about_text">
                <h3>Welcome to V Shop </h3>
                <p>Your one-stop destination for all your online shopping needs! 
                Our website offers a wide range of products, including fashion, beauty, and many more.  </p>
                <a class="read_more" href="#">Read More</a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="about_img">
                <figure><img src="~/asset/images/black-red.jpg" width="300px" height="300px"/>
                <img src="~/asset/images/br2.jpg" width="300px" height="499px"/>
                </figure>

            </div>

        </div>
    </div>
    </div>
</div>

