@model IEnumerable<V_APP.Models.Category>
<div class="blue_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Categories</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project section -->
<div id="project" class="project">
    <div class="container">
        <div class="row">
            <div class="product_main">
                @foreach (var P in Model)
                {
                    <div class="project_box ">
                        @if (string.IsNullOrEmpty(P.Image))
                        {
                            <div class="dark_white_bg">
                                <img src="/data/placeholder.jpg" alt="" />
                            </div>
                        }
                        else
                        {
                            <a href="/home/Categories?id=@P.Id"><div class="dark_white_bg"><img src="@P.Image" alt="#" /></div></a>
                            <p>@P.Name<br>@P.Description</p>
                        }

                    </div>
                }

                <div class="col-md-12">
                    <a class="read_more" href="#">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>