<div class="blue_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section -->
<div id="contact" class="contact">
    <div class="con_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <form id="request" class="main_form">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <input class="contactus" placeholder="Name" type="text" name="Name">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input class="contactus" placeholder="Phone Number" type="number" name="Phone Number">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input class="contactus" placeholder="Email" type="email" name="Email">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input class="contactus" placeholder="Address" type="text" name="Address">
                            </div>
                            <div class="col-md-12">
                                <textarea class="contactusmess" placeholder="Message" type="text"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="send_btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>