<div class="blue_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section -->
<div id="contact" class="contact">
    <div class="con_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <form action="mailto:abdul124manan@gmail.com" id="request" class="main_form" method="post" enctype="text/plain">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 ">
                                <input class="contactus" placeholder="Name" type="text" name="Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <input class="contactus" placeholder="Email" type="email" name="Email">
                            </div>
                            <div class="col-md-12">
                                <textarea class="contactusmess" placeholder="Message" type="text"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="Send" class="send_btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>