<div class="banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text-bg">
                    <h1> <span class="blodark">  V Shop </span> <br>Trends 2023</h1>
                    <p>A huge fashion collection for you </p>
                    <a class="read_more" href="#">Shop now</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ban_img">
                    <figure><img src="images/ban_img.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end banner -->
<!-- six_box section -->
<div class="six_box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-4 pa_left">
                <div class="six_probpx yellow_bg">
                    <i><img src="images/shoes.png" alt="#" /></i>
                    <span>Shoes</span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 pa_left">
                <div class="six_probpx bluedark_bg">
                    <i><img src="images/underwear.png" alt="#" /></i>
                    <span>underwear</span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 pa_left">
                <div class="six_probpx yellow_bg">
                    <i><img src="images/pent.png" alt="#" /></i>
                    <span>Pante & socks</span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 pa_left">
                <div class="six_probpx bluedark_bg">
                    <i><img src="images/t_shart.png" alt="#" /></i>
                    <span>T-shirt & tankstop</span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 pa_left">
                <div class="six_probpx yellow_bg">
                    <i><img src="images/jakit.png" alt="#" /></i>
                    <span>cardigans & jumpers</span>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 pa_left">
                <div class="six_probpx bluedark_bg">
                    <i><img src="images/helbet.png" alt="#" /></i>
                    <span>Top & hat</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end six_box section -->
<!-- project section -->
<div id="project" class="project">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Featured Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product_main">

                <div class="project_box ">
                    <div class="dark_white_bg"><img src="images/shoes1.png" alt="#" /></div>
                    <h3>White Sneakers $120.00</h3>
                </div>


                <div class="project_box ">
                    <div class="dark_white_bg"><img src="images/shoes2.png" alt="#" /></div>
                    <h3>Trending Shoes $80.00</h3>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg"><img src="images/shoes3.png" alt="#" /></div>
                    <h3>Trending Sneakers $110.00</h3>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg"><img src="images/shoes4.png" alt="#" /></div>
                    <h3>Classic Men Collection $100.00</h3>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg"><img src="images/shoes5.png" alt="#" /></div>
                    <h3>White Joggers $200.00</h3>
                </div>


                <div class="project_box ">
                    <div class="dark_white_bg"><img src="images/tisat1.png" alt="#" /></div>
                    <h3>MEN T-Shirt $120.00</h3>
                </div>

                <div class="project_box ">
                    <div class="dark_white_bg"><img src="images/tisat2.png" alt="#" /></div>
                    <h3>T-Shirt  $120.00</h3>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg"><img src="images/tisat3.png" alt="#" /></div>
                    <h3>MEN T-Shirt  $120.00</h3>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg"><img src="images/tisat4.png" alt="#" /></div>
                    <h3>MEN T-Shirt  $120.00</h3>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg"><img src="images/tisat5.png" alt="#" /></div>
                    <h3>MEN Shirts  $120.00</h3>
                </div>


                <div class="project_box ">
                    <div class="dark_white_bg"><img src="images/mix1.png" alt="#" /></div>
                    <h3>Smart Phone $1100.00</h3>
                </div>

                <div class="project_box ">
                    <div class="dark_white_bg"><img src="images/mix2.png" alt="#" /></div>
                    <h3>Black glasses $120.00</h3>
                </div>


                <div class="project_box">
                    <div class="dark_white_bg"><img src="images/mix4.png" alt="#" /></div>
                    <h3>Watch Collection $40.00</h3>
                </div>



                <div class="col-md-12">
                    <a class="read_more" href="#">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end project section -->
<!-- fashion section -->
<div class="fashion">
    <img src="images/fashion.jpg" alt="#" />
</div>
<!-- end fashion section -->
<!-- news section -->
<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin_top40">
                <div class="row d_flex">
                    <div class="col-md-5">
                        <div class="news_img">
                            <figure><img src="images/news_img1.png"></figure>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="news_text">
                            <h3>Ready SIALKOT</h3>
                            <span>25-March-2023</span>
                            <div class="date_like">
                                <span>Like </span><span class="pad_le">Comment</span>
                            </div>
                            <p>Get ready to upgrade your fashion game as a new range of online fashion stores are set to launch in Sialkot, Punjab next month, offering the latest trends and styles at your fingertips!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 margin_top40">
                <div class="row d_flex">
                    <div class="col-md-5">
                        <div class="news_img">
                            <figure><img src="images/news_img2.jpg"></figure>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="news_text">
                            <h3>EID 2023!</h3>
                            <span>16 April 2023</span>
                            <div class="date_like">
                                <span>Like </span><span class="pad_le">Comment</span>
                            </div>
                            <p>Online Fashion Stores Launch New Collections for Eid: To cater to the demand for new Eid outfits, online fashion retailers are releasing new collections that feature the latest trends and styles. From traditional shalwar kameez to modern dresses and accessories, there is something for everyone at these online stores</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 margin_top40">
                <div class="row d_flex">
                    <div class="col-md-5">
                        <div class="news_img">
                            <figure><img src="images/news_img3.png"></figure>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="news_text">
                            <h3>Trending Brands:</h3>
                            <span>10-April-2023</span>
                            <div class="date_like">
                                <span>Like </span><span class="pad_le">Comment</span>
                            </div>
                            <p>
                                ASOS, Zara, Fashion Nova, Nordstrom, H&M, PrettyLittleThing,
                                Mr Porter, Topman, Urban Outfitters and Levi's.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

