@model IEnumerable<V_APP.Models.Product>
<div class="blue_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Featured Products</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project section -->
<div id="project" class="project">
    <div class="container">
        <div class="container mb-3">
            <a asp-action="AddUpdateProduct">Add new Product.</a>
        </div>
        

        <div class="row">
            <div class="product_main">
                @foreach (var P in Model)
                {
                    <div class="project_box ">
                        @if (string.IsNullOrEmpty(P.Image))
                        {
                        <div class="dark_white_bg">
                            <img src="/data/placeholder.jpg"alt="" />
                        </div>
                        }
                        else
                        {
                            string[] All = P.Image.Split(',');
                        <a href="/home/productdetail?id=@P.Id"><div class="dark_white_bg"><img src="@All[0]" alt="#" /></div></a>
                            <p>@P.Name<br><strong>Rs.</strong> @P.Price</p>
                        }
                        
                    </div>
                }

                <div class="col-md-12">
                    <a class="read_more" href="#">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>