<!DOCTYPE html>
<html lang="en">
@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - V_APP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/V_APP.styles.css" asp-append-version="true" />
</head>*@
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title> V SHOP</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/asset/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/asset/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/asset/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/asset/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/asset/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <header>
        <div>
            <!-- loader  -->
            <div class="loader_bg">
                <div class="loader"><img src="~/asset/images/loading.gif" alt="#" /></div>
            </div>
            <!-- end loader -->

            <div class="header_midil">
                <div class="container">
                    <div class="row d_flex">
                        <div class="col-md-4">
                            <ul class="right_icon d_none1">
                                <li>
                                    <span class="position-absolute top-0 badge rounded-pill bg-danger" id="cartcount">
                                            <span class="visually-hidden"></span>
                                        </span>
                                    <a asp-action="Index"><img src="~/asset/images/shopping.png" alt="#" />
                                    </a>
                                </li>
                                <li><a href="#" class="order">Order Now</a> </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <a class="logo" asp-action="index"><img src="~/asset/images/logo.jpg" alt="#" /></a>
                        </div>
                        <div class="col-md-4">
                            <ul class="conta_icon d_none1">
                                @if (!string.IsNullOrEmpty(Context.Session.GetString("UserName")))
                                {
                                    <li><a asp-action="Logout" class="order">@Context.Session.GetString("UserName")</a> </li>
                                }
                                else
                                {
                                    <li><a asp-action="Login" class="order">Login</a> </li>
                                    <li><a asp-action="SignupCustomer" class="order">Signup as Customer</a> </li>
                                    <li><a asp-action="SignupSeller" class="order">Signup as Seller</a> </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <nav class="navigation navbar navbar-expand-md navbar-dark ">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarsExample04">
                                    @if (Context.Session.GetInt32("UserType") == 3 || Context.Session.GetInt32("UserType") == 4)
                                    {
                                        <ul class="navbar-nav mr-auto">

                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="CategoryList">Category</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" asp-action="TopCategoryList">TopCategory</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="ProductList">Products</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="SellerList">Seller</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="CustomerList">Customer</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="StaffList">Staff</a>
                                        </li>
                                        </ul>
                                    }
                                    else if (Context.Session.GetInt32("UserType") == 2)
                                    {
                                        <ul class="navbar-nav mr-auto">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="AboutUs">About</a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link" asp-action="index">Home</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="ProductList" asp-route-id="1">Fashion</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="ProductList" asp-route-id="2">Food</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="ProductList" asp-route-id="3">Discount</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="ContactUs">Contact Us</a>
                                            </li>
                                        </ul>
                                    }
                                    else
                                    {
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="AboutUs">About</a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" asp-action="index">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="ProductList" asp-route-id="1">Fashion</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="ProductList" asp-route-id="2">Food</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="ProductList" asp-route-id="3">Discount</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="ContactUs">Contact Us</a>
                                        </li>
                                    </ul>
                                    }
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-4">
                            <div class="search">
                                <form action="/action_page.php">
                                    <input class="form_sea" type="text" placeholder="Search" name="search">
                                    <button type="submit" class="seach_icon"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="row">
            <div class="col-md-12 col-lg-3">
                <h4>About company</h4>
                <p>Set up in 2009 we will likely make the way toward purchasing customized apparel as simple as conceivable while furnishing our Customers with the help and direction they need.</p>
                <a href="/Home/AboutUs" class="a-white">More</a><br><br>
                <p><i>Copyright ©2022 <a href="/home/index" class="a-white">V-App.</a> All Rights Reserved.</i></p>
            </div>

            <div class="col-lg-8 col-md-12 row">
                <div class="col-6">
                    <h4>Quick Links</h4>
                    <a href="/Home/Privacy" class="a-white">Privacy Policy</a><br>
                    <a href="/Home/Cookies" class="a-white">Cookies Policy</a><br>
                    <a href="/Home/FAQ" class="a-white">FAQ's</a><br>
                    <a href="/Home/ContactUs" class="a-white">Contact us</a><br>
                </div>

                <div class="col-6">
                    <h4>Get Social</h4>
                    <p>
                        <a href="#" class="a-white" target="_blank"><i class="bi bi-facebook"> Facebook</i></a><br>
                        <a href="#" class="a-white" target="_blank"><i class="bi bi-instagram"> Instagram</i></a><br>
                        <a href="#" class="a-white" target="_blank"><i class="bi bi-whatsapp"> Whatsapp</i></a><br>
                        <a href="#" class="a-white" target="_blank"><i class="bi bi-github"> Github</i></a><br>
                    </p>
                </div>
                <div class="col-12">
                    <h3>Newsletter</h3>
                    <p>Sign up for our newsletter to receive our latest articles, news, and event announcements.</p>
                    <form asp-controller="Subscribers" asp-action="Create" method="post">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <button type="submit" class="btn btn-sm btn-primary">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            &copy; 2023 - V_APP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <!-- JAVA SCRIPT FILES-->
    <script src="~/asset/js/jquery.min.js"></script>
    <script src="~/asset/js/popper.min.js"></script>
    <script src="~/asset/js/bootstrap.bundle.min.js"></script>
    <script src="~/asset/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/asset/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/asset/js/custom.js"></script>
    <script>
        $(function () {

            //alert("HI");

            $('#cartcount').html(localStorage.getItem('count'));

            $('.addtocart').click(function () {

                var sumid = $(this).data('pid').toString();
                if (localStorage.getItem('pid') === null) {
                    localStorage.setItem('pid', sumid);
                    localStorage.setItem('count', 1);
                    location.reload();
                }
                else {
                    const arr = localStorage.getItem('pid').split(",")
                    if (arr.includes(sumid)) {
                        alert("Product already added to cart!!!");
                    }
                    else {
                        localStorage.setItem('pid', localStorage.getItem('pid').concat(",", sumid));
                        var counts = parseInt(localStorage.getItem('count'));
                        localStorage.setItem('count', ++counts);
                        location.reload();
                    }
                }

            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
